
#crowller-code ignore
/crowller-code/node_modules
/crowller-code/build
/crowller-code/package-lock.json

#typescript 进阶 ignore
/typescript进阶/node_modules
/typescript进阶/build
/typescript进阶/dist
/typescript进阶/package-lock.json
/typescript进阶/.parcel-cache

#crowller-code-express ignore
/crowller-code-express/node_modules
/crowller-code-express/build
/crowller-code-express/package-lock.json

#typescript 高级 ignore
/typescript/node_modules
/typescript/build
/typescript/package-lock.json